/**
 *
 * aside.css
 *
 */

.aside {
  text-align: left;
}

/* NEWS */

.aside-news {
  padding-bottom: 40px;
}
.aside-news * {
  margin: 0;
  padding: 0;
}
.aside-news .aside-heading {
  color: #fcc44d;
  line-height: 10pt;
  font: 400 10pt "VarelaRound";
  padding: 20px 30px;
  text-decoration: underline;
}
.aside-news ul {
  list-style-type: none;
}
.aside-news li {
  padding: 22px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.aside-news li:hover {
  background: #443B74;
  cursor: pointer;
}
.aside-news .item {
  display: table;
}
.aside-news .item-text {
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}
.aside-news .item-info {
  font: 400 7pt "VarelaRound";
  margin-bottom: 1em;
  color: #acb3ba;
  display: table;
  width: 100%;
}
.aside-news .item-info-date {
  vertical-align: top;
  display: table-cell;
}
.aside-news .item-info-comments {
  float: right;
  display: table-cell;
}
.aside-news .comment-count{
  vertical-align: top;
}
.aside-news .item-title {
  font: 700 10.4pt "Bitter";
  color: #ffffff;
}
.aside-news .item-image-container {
  display: table-cell;
  vertical-align: top;
  padding-left: 26px;
}
.aside-news .item-image {
  width: 74px;
  height: 74px;
  border: 2px solid #fff;
  overflow: hidden;
}
.aside-news .comment-bubble {
  background: url(../images/i-comment-grey-light.png);
}

/* SOCIAL */

.aside-social {}
.aside-social * {
  margin: 0;
  padding: 0;
}
.aside-social .aside-heading {
  font: 700 18pt "Bitter";
  color: #363f48;
  margin-bottom: 1em;
}
.aside-social ul {
  list-style-type: none;
}
.aside-social li {
  
  margin-top: 10px;
}
.aside-social li:first-child {
  margin-top: 0;
}
.aside-social .widget {
  display: table;
  width: 100%;
}
.aside-social .widget:hover {
  cursor: pointer;
}
.aside-social .widget:hover > [class="widget-icon"],
.aside-social .widget:hover > [class="widget-title"] {
  background: #fff;
}
.aside-social .widget:hover > [class="widget-extra"] {
  color: #fff;
}
.aside-social .widget > * {
  display: table-cell;
  vertical-align: middle;
  background: #dddddd;
}
.aside-social .widget-icon,
.aside-social .i-facebook,
.aside-social .i-twitter,
.aside-social .i-youtube {
  width: 40px;
  height: 40px;
}
.aside-social .i-facebook {
  display: block;
  background: url(../images/i-facebook.png);
}
.aside-social .i-twitter {
  display: block;
  background: url(../images/i-twitter.png);
}
.aside-social .i-youtube {
  display: block;
  background: url(../images/i-youtube.png);
}
.aside-social .widget-title {
  color: #363f48;
  font: 700 13.5pt "Bitter";
}
.aside-social .widget-title > .widget-text-node {
  width: 90px;
}
.aside-social .widget-extra {
  background-color: #4d4382;
  color: rgba(255, 255, 255, 0.8);
  font: 400 9.5pt "VarelaRound";
  width: 140px;
}
.aside-social .widget-extra > .widget-text-node {
  width: 110px;
}
.aside-social .widget-text-node {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 15px;
}

/* TV */

.aside-tv {
}
.aside-tv * {
  margin: 0;
  padding: 0;
}
.aside-tv .aside-heading {
  font: 700 18pt "Bitter";
  color: #363f48;
  padding: 30px;
}
.aside-tv iframe {
  margin: 0;
  padding: 0;
}
.aside-tv .item-text {
  padding: 18px 30px 24px 30px;
}
.aside-tv .item-info {
  font: 400 8.5pt "VarelaRound";
  color: #666666;
  margin-bottom: 1em;
}
.aside-tv .item-info-comments {
  display: none;
}
.aside-tv .item-title {
  font: 700 10.5pt"Bitter";
  color: #363f48;
}

/* BANNER */

.aside-banner {
  width: 300px;
  max-height: 250px;
}
.aside-banner-1 {
  overflow: hidden;
}
.aside-banner-2 {
  padding: 20px;
}
.aside-banner-2 > .aside-banner-image {
  width: 125px;
  height: 125px;
  overflow: hidden;
}
.aside-banner-2 > .aside-banner-image:first-child {
  float: left;
  margin-right: 10px;
}
.background-grey-dark {
  background-color: #dddddd;
}

/* FACEBOOK */

.aside-facebook {
  padding: 15px;
}
