/**
 *
 * carousels.css
 *
 */

.carousel-news * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-news {
  height: 425px;
  overflow: hidden;
  text-align: left;
}

.carousel-news .carousel-news-container {
  position: relative;
}

.carousel-news .carousel-control {
  position: absolute;
  top: 178px;
  z-index: 1;
  color: #fff;
}
.carousel-news .carousel-control.control-left {
  text-align: left;
  left: 30px;
}
.carousel-news .carousel-control.control-right {
  text-align: right;
  right: 30px;
}

.carousel-news .carousel-control-container {
  display: table-cell;
  vertical-align: bottom;
}
.carousel-news .carousel-control-container > span {
  display: block;
}

.carousel-news ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}
.carousel-news li {
  display: inline-block;
  white-space: normal;
  width: 100%;
  height: 100%;
}

.carousel-news .item {
  position: relative;
  background: #eee;
  width: 940px;
  height: 425px;
}

.carousel-news .item-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-news .item-image-container > img {
  width: 100%;
}

.carousel-news .item-text-container {
  background: url(../images/gradient.png);
  position: absolute;
  color: #eff6fa;
  width: 100%;
  padding: 30px;
  bottom: 0;
  left: 0;
  max-height: 220px;
}

.carousel-news .item-info {
  margin-bottom: 0.5em;
  font: 400 9pt "VarelaRound";
  vertical-align: top;
}

.carousel-news .item-info * {
  vertical-align: bottom;
}

.carousel-news .item-info-comments {
  margin-left: 3em;
}
.carousel-news .item-info-comments > a {
  margin-left: 0.5em;
}
.carousel-news .item-info-comments > a:hover {
  text-decoration: underline;
}

.carousel-news .item-title {
  width: 600px;
}

.carousel-news .item-link {
  display: inline-block;
  font: 400 10pt "VarelaRound";
  border: 1px solid #fff;
  padding: 0.5em 1.5em;
  margin-top: 1em;
}

/* ICONS */

.carousel-news .comment-bubble {
  display: inline-block;
  background: url(../images/i-comment-white.png);
  width: 16px;
  height: 14px;
}
.carousel-news .carousel-control-left {
  display: inline-block;
  background: url(../images/i-arrow-left-white-large.png);
  width: 32px;
  height: 50px;
}
.carousel-news .carousel-control-right {
  display: inline-block;
  background: url(../images/i-arrow-right-white-large.png);
  width: 32px;
  height: 50px;
}
