/**
 *
 * fonts.css
 *
 */

@font-face {
  font-family: "VarelaRound";
  src: url("../fonts/varela-round/VarelaRound-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/bitter/Bitter-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/bitter/Bitter-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/bitter/Bitter-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/bitter/Bitter-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
