/**
 *
 * footer.css
 *
 */

.footer {
  text-align: left;
}

.footer .grid {
  padding: 0;
  margin-top: 50px !important;
}
.footer .grid:first-child {
  margin-top: 0 !important;
}

.footer hr {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;
  border: 0;
  height: 1px;
  background-color: #333333;
}

.footer-heading {
  font: 700 18pt "Bitter";
  line-height: 43px;
}
.footer-content-container {
  margin-top: 30px !important;
  font: 400 10.5pt "Bitter";
}

/* TOP */

.footer-top {
  color: #666666;
}
.footer-top * {
  margin: 0;
  padding: 0;
}
.footer-top .footer-heading {
  color: #cccccc;
}
.footer .logo .footer-heading {
  display: table-cell;
  vertical-align: middle;
  display: inline-block;
  font: 400 22pt "Bitter";
  color: #45b0e3;
  margin-left: 0.5em;
}
.footer .logo .i-logo-large {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/logo-large.png);
  height: 43px;
  width: 28px;
}
.footer ul.icon-list {
  list-style-type: none;
  margin-top: 25px;
}
.footer ul.icon-list li {
  float: left;
  width: 35px;
  height: 35px;
  margin-left: 10px;
}
.footer ul.icon-list li:first-child {
  margin-left: 0;
}
.footer .newsletter-subscribe {
  display: table;
  margin-top: 25px;
  width: 300px;
}
.footer .newsletter-subscribe > * {
  display: table-cell;
  border: 0;
  height: 50px;
  padding: 0 20px;
}
.footer .newsletter-subscribe > input {
  background-color: #333333;
  color: #999999;
  width: 190px;
}
.footer .newsletter-subscribe > button {
  background-color: #4d4382;
  color: #cccccc;
  width: 110px;
}
.footer .newsletter-subscribe > button:hover {
  background: #5d509c;
  cursor: pointer;
}
.footer .newsletter-subscribe > button:active {
  color: #fff;
}
.footer ul.tag-list {
  font: 400 8.5pt "VarelaRound";
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.footer ul.tag-list li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 2px;
  background-color: #333333;
  padding: .5em .6em;
}
.footer ul.tag-list li:hover {
  background-color: #4d4382;
  color: #cccccc;
  cursor: pointer;
}

/* BOTTOM */

.footer-bottom {
  color: #cccccc;
}
.footer-bottom .footer-heading {
  color: #fff;
}
.footer ul.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer ul.post-list li {
  padding: 22px 0;
  border-top: 1px solid rgba(102, 102, 102, 0.2);
}
.footer ul.post-list li:first-child {
  padding-top: 0;
  border-top: 0;
}
.footer ul.post-list .item {
  display: table;
}
.footer ul.post-list .item-text {
  vertical-align: middle;
  display: table-cell;
  width: 100%;
  padding-right: 2.5em;
}
.footer ul.post-list .item-info {
  font: 400 7pt "VarelaRound";
  margin-bottom: 1em;
  color: #666666;
  display: table;
  width: 100%;
}
.footer ul.post-list .item-info-date {
  vertical-align: top;
  display: table-cell;
}
.footer ul.post-list .item-info-comments {
  float: right;
  display: table-cell;
}
.footer ul.post-list .comment-count{
  vertical-align: top;
}
.footer ul.post-list .item-title {
  font: 700 11pt "Bitter";
  color: #cccccc;
}
.footer ul.post-list .item-image-container {
  display: table-cell;
  vertical-align: top;
}
.footer ul.post-list .item-image {
  width: 74px;
  height: 74px;
  border: 2px solid #fff;
  overflow: hidden;
}
.footer ul.post-list a:hover {
  text-decoration: underline;
}

/* COPYRIGHT */

.footer-copyright {
  color: #999999;
  font: 400 9pt "VarelaRound";
}
.footer .grid.footer-copyright {
  margin-top: 0 !important;
  padding-top: 0;
}
.footer-copyright-left {
  text-align: left;
}
.footer-copyright-right {
  text-align: right;
}
.footer-copyright ul.link-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}
.footer-copyright ul.link-list li {
  float: left;
}
.footer-copyright ul.link-list li:before {
  content: "-";
  padding: 0 0.5em;
}
.footer-copyright ul.link-list li:first-child:before {
  content: "";
  padding: 0;
}
.footer-copyright ul.link-list a:hover {
  color: #ddd;
}

/* ICONS */

.i-rss-small {
  display: inline-block;
  background: url(../images/i-rss-small.png);
  width: 35px;
  height: 35px;
}
.i-facebook-small {
  display: inline-block;
  background: url(../images/i-facebook-small.png);
  width: 35px;
  height: 35px;
}
.i-twitter-small {
  display: inline-block;
  background: url(../images/i-twitter-small.png);
  width: 35px;
  height: 35px;
}
.i-dribble-small {
  display: inline-block;
  background: url(../images/i-dribble-small.png);
  width: 35px;
  height: 35px;
}
.i-linkedin-small {
  display: inline-block;
  background: url(../images/i-linkedin-small.png);
  width: 35px;
  height: 35px;
}
.i-youtube-small {
  display: inline-block;
  background: url(../images/i-youtube-small.png);
  width: 35px;
  height: 35px;
}
.i-skype-small {
  display: inline-block;
  background: url(../images/i-skype-small.png);
  width: 35px;
  height: 35px;
}