/**
 *
 * grid.css
 *
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100% !important;
  margin: 0;
  padding: 0;
}

.grid {
  display: table;
  width: 100%;
}

.grid-full {
  height: 100%;
}

.grid-gutters .grid-col {
  padding-left: 20px;
}
.grid-gutters .grid-col:first-child {
  padding-left: 0;
}

.grid-padded .grid {
  padding-top: 20px;
}
.grid-padded .grid:first-child {
  padding-top: 0;
}
.grid-padded .grid-col {
  padding-left: 20px;
}
.grid-padded .grid-col:first-child {
  padding-left: 0;
}

.grid-row {
  display: table-row;
  height: 1px;
  text-align: center;
}

.grid-col { display: table-cell; }
.grid-col-1 { width : 8.33%; }
.grid-col-2 { width : 16.67%; }
.grid-col-3 { width : 25%; }
.grid-col-4 { width : 33.33%; }
.grid-col-5 { width : 41.67%; }
.grid-col-6 { width : 50%; }
.grid-col-7 { width : 58.33%; }
.grid-col-8 { width : 66.67%; }
.grid-col-9 { width : 75%; }
.grid-col-10 { width : 83.33%; }
.grid-col-11 { width : 91.67%; }

.grid-col-align-top { vertical-align: top; }
