/**
 *
 * header.css
 *
 */

.header {
  display: table;
}

.header > .logo {
  background-color: #2e2e2e;
  display: table-cell;
  vertical-align: middle;
  width: 60px;
}

.header > h1 {
  color: #ffffff;
  display: table-cell;
  text-align: left;
  padding-left: 11px;
  vertical-align: middle;
  font: 400 18pt "Bitter";
}

.nav {
  display: table;
  margin: 0;
  padding: 0;
}

.nav li {
  padding: 0 20px;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}

/* HEADER-TOP */

.header-top.nav {
  float: right;
  color: #ffffff;
  font: 400 10.5pt "VarelaRound";
}

.header-top.nav li:hover {
  background: #2e2e2e;
}

/* SEARCH */

.search {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  width: 60px;
  padding-right: 22px;
  overflow: hidden;
  white-space: nowrap;
  background: #2e2e2e;
  font: 400 10.5pt "VarelaRound";
}

.search > * {
  display: inline-block;
  vertical-align: middle;
}

.search-input {
  background: #2e2e2e;
  color: #fff;
  width: 0;
  border: 0;
  text-align: center;
  font-size: 10.5pt;
  font-weight: 400;
}

.search-input:focus {
  outline: 0;
}

.search-icon {
  background: url(../images/i-search.png);
  vertical-align: middle;
  margin-left: 22px;
  width: 16px;
  height: 16px;
}

/* HEADER-BOTTOM */

.header-bottom.nav {
  float: left;
  color: #ffffff;
  font: 700 13.5pt "Bitter";
  text-transform: uppercase;
}

.header-bottom.nav li {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.header-bottom.nav li.border-blue:hover {
  background-color: #299ec3;
  border-color: #299ec3;
}

.header-bottom.nav li.border-red:hover {
  background-color: #c52513;
  border-color: #c52513;
}

.header-bottom.nav li.border-green:hover {
  background-color: #527d2C;
  border-color: #527d2C;
}

.header-bottom.nav li.border-yellow:hover {
  background-color: #df9903;
  border-color: #df9903;
}

.header-bottom.nav li.border-brown:hover {
  background-color: #6B5F3C;
  border-color: #6B5F3C;
}

/* STYLE OVERRIDES */

.header-bottom.nav .border-blue { border-color: #5dcff3; }
