/**
 *
 * section.css
 *
 */

.gallery-3 ul, .gallery-2 ul, .carousel-2 ul, .carousel-1 ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* GALLERY 3 */

.gallery-3 li {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15.8px; /* 20px - 4px (li spacing) */
}

.gallery-3 li:nth-child(3n+1) {
  margin-left: 0;
}

.gallery-3 img {
  width: 170px;
  height: 128px;
  display: block;
}

.gallery-3 .item {
  width: 170px;
}

.gallery-3 .item-info {
  display: block;
  margin-top: 12px;
}

/* GALLERY 2 */

.gallery-2 li {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 16px; /* 15px - 4px (li spacing) */
}

.gallery-2 li:nth-child(2n+1) {
  margin-left: 0;
}

.gallery-2 .item {
  width: 260px;
}

.gallery-2 img {
  width: 120px;
  height: 90px;
  display: inline-block;
  vertical-align: top;
}

.gallery-2 .item-info {
  display: inline-block;
  width: 120px;
  margin-left: 11px; /* 15px - 4px (inline-block) */
}

.gallery-2 .item-info-comments {
  display: none;
}

/* CAROUSEL 2 */

.carousel-2 {
  overflow: hidden;
}

.carousel-2 ul {
  display: block;
  white-space: nowrap;
  width: 100%;
}

.carousel-2 li {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 26px; /* 30px - 4px (li spacing) */
}

.carousel-2 li:first-child {
  margin-left: 0;
}

.carousel-2 img {
  width: 260px;
  height: 150px;
  display: block;
}

.carousel-2 .item {
  width: 260px;
  white-space: normal;
}

.carousel-2 .item-info {
  display: block;
  margin-top: 12px;
}

/* CAROUSEL 1 */

.carousel-1 {
  overflow: hidden;
}

.carousel-1 ul {
  display: block;
  white-space: nowrap;
  width: 100%;
}

.carousel-1 li {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 26px; /* 30px - 4px (li spacing) */
}

.carousel-1 li:first-child {
  margin-left: 0;
}

.carousel-1 img {
  width: 230px;
  height: 150px;
  display: block;
}

.carousel-1 .item {
  width: 230px;
  white-space: normal;
}

.carousel-1 .item-info {
  display: block;
  margin-top: 12px;
}

/* CAROUSEL CONTROLS */

.carousel-control {
  display: inline-block;
  width: 12px;
  height: 19px;
}

/* ICONS */

.container-m .carousel-control-right {
  margin-left: 14px; /* 18px - 4px (inline-block) */
}

.container-s .carousel-control-right {
  margin-left: 12px; /* 16px - 4px (inline-block) */
}

.border-brown .carousel-control-left {
  background: url(../images/i-arrow-left-brown-small.png);
}
.border-brown .carousel-control-right {
  background: url(../images/i-arrow-right-brown-small.png);
}

.border-yellow .carousel-control-left {
  background: url(../images/i-arrow-left-yellow-small.png);
}
.border-yellow .carousel-control-right {
  background: url(../images/i-arrow-right-yellow-small.png)
}
