/**
 *
 * style.css
 *
 */

/* ELEMENTS */

body {
  font-family: "VarelaRound", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* MISC */

.wrapper { width: 940px; }

.center { margin: 0 auto 0 auto; }

/* MAIN */

.main { padding: 20px 0; }

.banner {
  height: 120px;
  overflow: hidden;
}

.container-l.banner {
  background: url(../images/placeholder-banner-940x120.png);
}
.container-m.banner {
  background: url(../images/placeholder-banner-620x120.png);
}

.container {
  background-color: #ffffff;
  border-left-width: 10px;
  border-left-style: solid;
  padding: 30px;
  text-align: left;
}
.container a:hover {
  text-decoration: underline;
}
.container-l { width: 940px; }
.container-m { width: 620px; }
.container-s { width: 300px; }
.container-heading {
  color: #363f48;
  display: table;
  width: 100%;
}
.container-heading > h1 {
  font-size: 17.5pt;
  display: table-cell;
}
.container-heading-extra {
  display: table-cell;
  text-align: right;
  width: 100px;
}
.container-heading-extra > span { font-size: 10.5pt; }
.container-heading-extra > span > a {
  color: #3677b5;
  text-decoration: underline;
}
.container .item-info > div {
  color: #666666;
  display: block;
  width: 100%;
  overflow: auto;
  margin-bottom: 6px;
}
.container .item-info span { font-size: 9pt; }
.container .item-info-comments { float: right; }
.container .item-info-date { float: left; }
.container .item-info h2 {
  color: #363f48;
  font-size: 10pt;
  line-height: 13.5pt;
}
.comment-bubble {
  background: url(../images/i-comment-grey.png);
  display: inline-block;
  line-height: inherit;
  width: 11px;
  height: 10px;
}

/* FOOTER */

.footer {
  border-top: solid 20px;
  padding: 50px 0 140px 0;
}

/* BACKGROUND COLOURS */

.background-white { background-color: #fff; }
.background-grey { background-color: #eee; }
.background-black { background-color: #252525; }
.background-violet { background-color: #4d4382; }

/* BORDER COLOURS */

.border-red { border-color: #ee6151; }
.border-green { border-color: #84c14f; }
.border-blue { border-color: #3677b5;}
.border-yellow { border-color: #fcc44d; }
.border-brown { border-color: #a99765; }
.border-violet { border-color: #4d4382; }
